<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary ">
  <a class="navbar-brand" href="#">Nenglo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!--      <li class="nav-item active">-->
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>

      </li>
    </ul>
    <!--    <form class="form-inline my-2 my-lg-0">-->
    <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search">-->
    <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--    </form>-->
  </div>


</nav>
<!--  CONTENT OF PAGE-->

<div class="card mx-auto" style="width: 75%;">
  <!--  <img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <h1 class="card-title">Card title</h1>
    <h5 class="card-title">Card title</h5>

    <!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <p>In 1931, Nenglo Yang was born in Nameng, Laos to Paying and mother’s name.
      He also had an older sister named MyKer. At the age of 6, his mother passed
      away due to an ilness. Nenglo’s Father remarried sometimes later and had two
      sons. At the age of 15, Nenglo married Mai Joua Lee. Nenglo did not start his
      formal education until after he had married. Though he only attended school for
      a year, he quit in order to help his family with farming, and along with the
      marriage of his older sister.. At this time, the French Army had already colonized
      the nation, and due to the heavy government taxation, joining the French
      Military was the only way Nenglo could escape taxation without penalty.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-md-auto">
      Variable width content
    </div>
    <div class="col col-lg-2">
      3 of 3
    </div>
  </div>
</div>


<!--<p>In 1931, Nenglo Yang was born in Nameng, Laos to Paying and mother’s name.-->
<!--  He also had an older sister named MyKer. At the age of 6, his mother passed-->
<!--  away due to an ilness. Nenglo’s Father remarried sometimes later and had two-->
<!--  sons. At the age of 15, Nenglo married Mai Joua Lee. Nenglo did not start his-->
<!--  formal education until after he had married. Though he only attended school for-->
<!--  a year, he quit in order to help his family with farming, and along with the-->
<!--  marriage of his older sister.. At this time, the French Army had already colonized-->
<!--  the nation, and due to the heavy government taxation, joining the French-->
<!--  Military was the only way Nenglo could escape taxation without penalty.</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
<!--<p>SOME CONTENT HERE</p>-->
